# API Key para el servicio de DeepSeek
API_DEEPSEEK=

# URL de conexión a la base de datos MongoDB
MONGO_URI=

# Clave secreta para la generación y verificación de tokens JWT
JWT_SECRET=

# Credenciales para el servicio de correo electrónico
EMAIL_USER=
EMAIL_PASS=